<h2>Edit Contact</h2>
<form class="form-horizontal" ng-submit="editContact(contact.$id)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input required type="text" class="form-control" id="name" placeholder="Enter the name here" name="name" ng-model="contact.name">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input required type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="contact.email">
  </div>
  <div class="form-group">
    <label for="phone">Phone:</label>
    <input required type="text" class="form-control" id="phone" placeholder="Enter phone number here" name="phone" ng-model="contact.phone">
  </div>
  <div class="form-group">
    <label for="note">Notes:</label>
    <textarea name="note" id="note" rows="8" cols="100" placeholder="Add here extra note" ng-model="contact.note"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" name="button" class="btn btn-success">Update</button>
    <a href="#!/page1" class="btn btn-primary">Cancel</a>
  </div>
  <div ng-show="updatedOk" class="alert alert-success">
    <strong>Success!</strong> The contact have been updated!
  </div>
</form>
