<h1 class="text-center">Contact List</h1>

<div class="filter">
  <form class="form-inline" action="index.html" method="post">
    <label for="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search </label>
    <input class="form-control" type="text" id="search" name="search" value="Type here you search" ng-model="search">
  </form>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Name </th>
        <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email </th>
        <th><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Phone </th>
        <th><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts | filter:search">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>
          <a href="#!/page4/{{ contact.$id }}" class="btn btn-success">View</a>
          <a href="#!/page3/{{ contact.$id }}" class="btn btn-primary">Edit</a>
          <button ng-click="deleteContact(contact)" class="btn btn-danger" type="button" name="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
